@model ContactDetails

<div class="container">
    <h1>Contact Page Details</h1>
    <div class="row">
        <div>
            <h3>@Model.ByAddress</h3>
            <h3>@Model.ByEmail</h3>
            <h3>@Model.ByPhone</h3>
        </div>
    </div>
</div>