@model ContactDetails

<div class="container my-5">
    <h2 class="mb-4">Contact Us</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> Address</h5>
                    <p class="card-text">@Model.ByAddress</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-envelope"></i> Email</h5>
                    <p class="card-text">@Model.ByEmail</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-phone"></i> Phone</h5>
                    <p class="card-text">@Model.ByPhone</p>
                </div>
            </div>
        </div>
    </div>
</div>
