@model Contact

<div class="container">
    <h1>Contact Page Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="300px" height="300px"/>
            <h3>@Model.Magazine</h3>
            <h3>@Model.City</h3>
            <h3>@Model.Description</h3>
        </div>
    </div>
</div>