   <div class="contact-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <h1>Cart</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a  href="wishlist.html">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">All</li>
                </ol>
            </nav>
        </div>
    </div>
<main class="main-content">
        <div class="breadcrumb-area breadcrumb-height">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-12">
                        <div class="breadcrumb-item">
                            <ul>
                                <!-- <li>
                                    <a href="index.html">Back to Home</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">remove</th>
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product_remove">
                                                <a href="#">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img class="cartImage" src="~/images/interior-product4.webp"
                                                        alt="Cart Thumbnail" />
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">Product Name</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$ Price</span>
                                            </td>
                                            <td class="quantity">
                                                    <input class="cart-plus-minus-box ps-2" value="1" min="1" max="100" type="number" />
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$Price</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product_remove">
                                                <a href="#">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img class="cartImage"  src="~/images/interior-product1.webp"
                                                        alt="Cart Thumbnail" />
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">Product Name</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$Price</span>
                                            </td>
                                            <td class="quantity">
                                                    <input class="cart-plus-minus-box ps-2" min="1" max="100" value="1" type="number" />
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$Price</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product_remove">
                                                <a href="#">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img class="cartImage"  src="~/images/interior-product2.webp"
                                                        alt="Cart Thumbnail" />
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">Product Name</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$Price</span>
                                            </td>
                                            <td class="quantity">
                                                    <input class="cart-plus-minus-box ps-2" min="1" max="100" value="1" type="number" />
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$Price</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <li>Subtotal <span>$Total</span></li>
                                            <li>Total <span>$Total</span></li>
                                        </ul>
                                        <a asp-controller="Checkout" asp-action="Index">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
