@model ShortInformation

<div class="container">
    <h1>Short Information Text part</h1>
    <div class="row">
        <div>
           <img src="~/images/@Model.Icon" width="500px" height="500px"/>
            <h5>@Model.Title</h5>
            <h5>@Model.Information</h5>
        </div>
    </div>
</div>
