@model Elementor

<div class="container">
    <h1>Elementor Widget</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.ElementorUpImage" width="300px" height="300px"/>
            <img src="~/images/@Model.ElementorDownImage" width="300px" height="300px"/>
        </div>
    </div>
</div>
