@model Comment

<li class="comment d-flex flex-wrap mb-3" id="c-@Model.Id" data-comment-id="@Model.Id">
    <div class="d-flex flex-wrap">
        <div class="blogComentProfilPhoto">
            <img src="~/Images/Blog/commentPhoto.png" alt="Photo">
        </div>
        <div class="blogCommentItem">
            <div class="d-flex justify-content-between">
                <div>
                    <h3 href="#" class="blogCommentItemArea">
                        @Model.User.Name
                    </h3>
                    <span class="blogCommentData">
                        <span class="">@ViewBag.Datetime</span>
                    </span>
                </div>
                <div class="commentReply">
                    <a class="commentReplyText btn-comment-reply">
                        Reply
                        <span>
                            <i class="fa-solid fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <span class="commentReplyDesc">
            @Model.Description
        </span>
    </div>
</li>