@model BlogVM
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12">
          <h2>Top 5 Tips For 2022</h2>
          <div class="container  d-flex align-items-center mt-4 pb-4">
            <div class="authors_photo me-2">
              <img src="~/images/" alt="creater-image" class="creator-image">
            </div>
            <div class="creator-info d-flex flex-column  me-3">
              <span class="creator-name">Jessica Bryant</span>
              <span class="creator-profession mt-2">Author</span>
            </div>
            <div class="singleblog-time d-flex me-3">
              <div><i class="fa-solid fa-calendar-days"></i></div>
              <div class="d-flex flex-column">
                <span class="creator-name">October 19, 2022</span>
                <span class="creator-profession mt-2">Published</span>
              </div>
            </div>
            <div class="singleblog-readingtime d-flex">
              <div><i class="fa-regular fa-clock"></i></div>
              <div class="d-flex flex-column ms-2">
                <span class="creator-name">12 Mins</span>
                <span class="creator-profession mt-2">Reading</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
          <h5 class="singleblog-header-first singleblog-header-withCreator mb-3">The Most Flattering Sofas For Different Types</h5>
          <p class="singleblog-text mt-4">Available in one size, the Bed and Breakfast Sofa Bed is a practical sofa by
            day and a comfortable bed by night. It is easily changed from sofa to bed, by lowering the back rest down to
            the floor to extend the surface area. It is perfect for unexpected guests.</p>
          <p class="singleblog-text mt-3">For the sofa covers there are lots of fabric choices with several different
            categories to choose from. The sofa cushions are incredibly comfortable, made from polyurethane foam which
            makes sitting or sleeping easy. The scatter cushions are not included but are available as an option, they
            are made in the fabric of your choice and stuffed with goose down.</p>
          <div class="blog-page-item-single">

            <img width="1100" height="600" src="~/images/blog-image-1.jpg " class="blog-page-area" alt="">
          </div>
          <p class="singleblog-text mt-5">The strong frame is made from steel with a satin-finish aluminium leaf
            surround with black feet with non slip pads and fixed casters. The support slats are in a semi-gloss coated
            wood.</p>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
            <h5 class="singleblog-header-first mt-4">The Maximilian sofa by Sergio Bicego</h5>
            <p class="singleblog-text mt-3">Cushions have intricate quilting details which create an eye-catching
              appealing effect, further emphasising the attention to detail on this comfortable sofa. The fully
              removable covers are available in several categories of fabric or leather in a huge variety of colours,
              you can even supply your own material. Samples of all materials can be seen in our showroom & we can send
              fabric samples on request.</p>
            <ul class="singleblog-li">
              <li class="singleblog-text mb-1 mt-2 ms-4">Our services will feel like A mint of creativity.</li>
              <li class="singleblog-text mb-1 ms-4">We develop applications with excellent technology.</li>
              <li class="singleblog-text mb-1 ms-4">A web communications practice for providing all application
                problems.</li>
              <li class="singleblog-text mb-1 ms-4">Advancing beyond your expectations</li>
            </ul>
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
            <h5 class="singleblog-header-first mt-3">Payless And Get The Best-Designed Applications</h5>
            <p class="singleblog-text mt-3">Nowadays, technology has become super advanced. Even normal people are
              getting themselves enrolled in coding and programming and creating applications on their own.</p>
            <p class="singleblog-text ms-4 mt-2">Applications are like the lifeblood of mobile phones and tablets today.
              The true potential of your mobile phone is harnessed by applications that can provide utility. Apps come
              under various segments.Nowadays, technology has become super advanced. Even normal people are getting
              themselves enrolled in coding and programming and creating applications on their own.</p>
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
            <h5 class="singleblog-header-first mt-3">Excellent Processes</h5>
            <div class="row mt-5">
              <div class="col-xxl-12 singleblog-processes-text pt-3">
                <div class="row">
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <p class="singleblog-reply">Development</p>
                  </div>
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <span class="singleblog-price">$20K</span>
    
                  </div>
                  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <span class="singleblog-text">Our ideas will definitely meet your expectations</span>
                  </div>
                </div>
              </div>
              <!-- ======= -->
              <div class="col-xxl-12 singleblog-processes-text pt-3">
                <div class="row">
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <p class="singleblog-reply">UI/ UX Design</p>
    
                  </div>
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <span class="singleblog-price ">$13K</span>
    
                  </div>
                  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <span class="singleblog-text ">Create, curate, teach. That's the way we code</span>
                  </div>
                </div>
              </div>
             
              <!-- ======== -->
              <div class="col-xxl-12 singleblog-processes-text pt-3">
                <div class="row">
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <p class="singleblog-reply">Plugin Development</p>
    
                  </div>
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <span class="singleblog-price ">$26K</span>
    
                  </div>
                  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <span class="singleblog-text ">We not only build applications but also dreams</span>
                  </div>
                </div>
              </div>
           
              <!-- ============== -->
              <div class="col-xxl-12 singleblog-processes-text pt-3">
                <div class="row">
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <p class="singleblog-reply">Customize App</p>
    
                  </div>
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <span class="singleblog-price ">$18K</span>
    
                  </div>
                  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                    <span class="singleblog-text ">We not only build applications but also dreams</span>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5 singleblog-excellent-process">
        <div class="row gy-4">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12  col-12"><img src="~/images/blog-image-4.jpg"
              alt=""></div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12  col-12"><img src="~/images/blog-image-5.jpg"
              alt=""></div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
        <h5 class="singleblog-header-first mb-3">Excellent Processes For Excellent Applications.</h5>
        <p class="singleblog-text mt-4">Nowadays, technology has become super advanced. Even normal people are
          getting themselves enrolled in coding and programming and creating applications on their own.</p>
        <p class="singleblog-text mt-3">Several ways and will continue to do so. As a result, it is something that
          will never cease to halt. It's an ever-growing business, which requires the help of proper slogans to make
          yourself and your application stand out from under a rock, lived an app named to do.</p>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12 mt-5">
        <h5 class="singleblog-header-first mb-3">Leave A Reply</h5>
        <p class="singleblog-text mt-4"> Your email address will not be published. Required fields are marked <span
            class="singleblog-reply">*</span></p>
        <form action="#">
          <div class="row gy-2">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
              <div class="contactItem">
                <textarea placeholder="Your Comment *" name="#" id="#" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="contactItem">
                <input placeholder="Name *" type="text">
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="contactItem">
                <input placeholder="Email *" type="email">
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="contactItem">
                <input placeholder="Website" type="text">
              </div>
            </div>
            <p class="singleblog-text mt-4">
              <input type="checkbox" name="save" id="Save Data">
              Save my name, email, and website in this browser for the next time I comment.
            </p>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
              <a href="#" class="btn-header-singleblog">Post Comment</a>
            </div>
        </form>
      </div>

    </div>
  </main>