@model UpdateHeaderUpTextVM
<div class="container">
    <h1 class="text-center">Update Header Up Text</h1>
      <div class="row">
             <form asp-action="UpdateText" method="post" class="forms-sample" enctype="multipart/form-data">
                  <div class="form-group">
                   <input asp-for="Text" class="form-control" placeholder="Text">
                 </div>  
                 <button type="submit" class="btn btn-outline-success me-2">Update</button>
                 <input type="hidden" asp-for="Id"/>
                 <button asp-action="TextIndex" class="btn btn-outline-danger">Cancel</button>
             </form>
      </div>
</div>

