@model Colour

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center">Colour</h2>
                    <h4 class="text-center text-primary">@Model.Name</h4>
                </div>
            </div>
        </div>
    </div>
</div>
