@model UpdateColourVM
<div class="container">
    <h1 class="text-center">Update Colour </h1>
      <div class="row">
             <form asp-action="Update" method="post" class="forms-sample" enctype="multipart/form-data">
                  <div class="form-group">
                   <input asp-for="Name" class="form-control" placeholder="Colour">
                 </div>
                 <button type="submit" class="btn btn-outline-success me-2">Update</button>
                 <input type="hidden" asp-for="Id"/>
                 <button asp-action="Index" class="btn btn-outline-danger">Cancel</button>
             </form>
      </div>
</div>

