@model FaqPayment

<div class="container">
    <h1>Payment Part Details</h1>
    <div class="row">
        <div>
            <h4>@Model.Question</h4>
            <h4>@Model.Answer</h4>
        </div>
    </div>
</div>