 @model BlogVM
 <main>
    <section id="blog-main">
      <div class="container blog">
        <div class="row gy-4 gx-4 p-4">
            @foreach (var item in @Model.Blogs)
            {
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 blog-page-item">

            <a asp-controller="SingleBlog" asp-action="Index" class="blog-page-item-single"><img src="~/images/@item.Image" alt="" class="blog-page-image"></a>
            
            <p class="blog-page-personId">By @item.Author.FullName</p>
            <h5 class="blog-page-header">@item.Title</h5>
            <p class="blog-page-datetime"><i class="fa-solid fa-calendar-days"></i><span>@ViewBag.datetime</span></p>
            </div>
                    
            }
        </div>
      </div>  
    </section>
  </main>
