@model CreateAuthorVM
<div class="container">
    <h1 class="text-center">Create Author </h1>
      <div class="row">
             <form asp-action="Create" method="post" class="forms-sample" enctype="multipart/form-data">
                 <div class="form-group">
                   <input asp-for="FullName" class="form-control"placeholder="FullName">
                 </div>  <div class="form-group">
                   <input asp-for="Proffession" class="form-control"placeholder="Proffession">
                 </div> 
               <div class="form-group">
                   <label>Author Image</label>
                   <input asp-for="Photo" class="form-control">
                 </div>
                 <button type="submit" class="btn btn-outline-success me-2">Create</button>
                 <button asp-action="Index" class="btn btn-outline-danger">Cancel</button>
             </form>
    </div>
</div>
