@model Author

<div class="container mt-5">
    <h1 class="text-center mb-4">About Author</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <img src="~/images/@Model.Image" class="rounded-circle img-thumbnail" style="width:300px; height:300px;"/>
            <h2 class="mt-4">@Model.FullName</h2>
            <p class="lead">@Model.Proffesion</p>
        </div>
    </div>
</div>
