@model Author

<div class="container">
    <h1>About Author</h1>
    <div class="row">
        <div>
         <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h1>@Model.BlogId</h1>
            <h1>@Model.FullName</h1>
            <h1>@Model.Proffesion</h1>
        </div>
    </div>
</div>
