@model Testimonial

<div class="container">
    <h1>Testimonial Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h3>@Model.Title</h3>
            <h3>@Model.Header</h3>
        </div>
    </div>
</div>