@model Testimonial

<div class="container">
    <h1 class="text-center mb-4">Testimonial Details</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mb-4 shadow">
                <img src="~/images/@Model.Image" class="card-img-top" alt="Testimonial Image">
                <div class="card-body">
                    <h3 class="card-title text-center">@Model.Title</h3>
                    <h5 class="card-subtitle mb-2 text-muted text-center">@Model.Header</h5>
                </div>
            </div>
        </div>
    </div>
</div>
