@model CreateBlogPageVM
<div class="container">
    <h1 class="text-center">Create Blog</h1>
      <div class="row">
             <form asp-action="Create" method="post" class="forms-sample" enctype="multipart/form-data">
                 <div class="form-group">
                  <select asp-for="AuthorId" asp-items="@ViewBag.Author"><option value="0">Select Author </option></select>
                 </div>      
                 <div class="form-group">
                   <input asp-for="Title" class="form-control" placeholder="Title">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="HeaderUp" class="form-control" placeholder="HeaderUp">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="InformationUp" class="form-control" placeholder="InformationUp">
                 </div>              
                 <div class="form-group">
                   <input asp-for="HeaderMiddle" class="form-control" placeholder="HeaderMiddle">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="InformationMiddle" class="form-control" placeholder="InformationMiddle">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="MiddleTextFirst" class="form-control" placeholder="MiddleTextFirst">
                 </div>                    
                 <div class="form-group">
                   <input asp-for="MiddleTextSecond" class="form-control" placeholder="MiddleTextSecond">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="MiddleTextThird" class="form-control" placeholder="MiddleTextThird">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="MiddleTextFourth" class="form-control" placeholder="MiddleTextFourth">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="MiddleDescription" class="form-control" placeholder="MiddleDescription">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="HeaderEnd" class="form-control" placeholder="HeaderEnd">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="InformationEnd" class="form-control" placeholder="InformationEnd">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="ServiceInfo" class="form-control" placeholder="ServiceInfo">
                 </div>                   
                 <div class="form-group">
                   <input asp-for="ServiceNameFirst" class="form-control" placeholder="ServiceNameFirst">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="ServicePriceFirst" class="form-control" placeholder="ServicePriceFirst">
                 </div>                 
                 <div class="form-group">
                   <input asp-for="ServiceDescriptionFirst" class="form-control" placeholder="ServiceDescriptionFirst">
                 </div>                 
                 <div class="form-group">
                   <input asp-for="ServiceNameSecond" class="form-control" placeholder="ServiceNameSecond">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="ServicePriceSecond" class="form-control" placeholder="ServicePriceSecond">
                 </div>                 
                 <div class="form-group">
                   <input asp-for="ServiceDescriptionSecond" class="form-control" placeholder="ServiceDescriptionSecond">
                 </div>                  
                 <div class="form-group">
                   <input asp-for="ServiceNameThird" class="form-control" placeholder="ServiceNameThird">
                 </div>                    
                 <div class="form-group">
                   <input asp-for="ServicePriceThird" class="form-control" placeholder="ServicePriceThird">
                 </div>                    
                 <div class="form-group">
                   <input asp-for="ServiceDescriptionThird" class="form-control" placeholder="ServiceDescriptionThird">
                 </div>                     
                 <div class="form-group">
                   <input asp-for="ServiceNameFourth" class="form-control" placeholder="ServiceNameFourth">
                 </div>                    
                 <div class="form-group">
                   <input asp-for="ServicePriceFourth" class="form-control" placeholder="ServicePriceFourth">
                 </div>                    
                 <div class="form-group">
                   <input asp-for="ServiceDescriptionFourth" class="form-control" placeholder="ServiceDescriptionFourth">
                 </div>                     
                 <div class="form-group">
                   <input asp-for="ApplyInfo" class="form-control" placeholder="ApplyInfo">
                 </div>                           
                 <div class="form-group">
                   <label>Blog Image</label>
                   <input asp-for="Photo" class="form-control">
                 </div>                 
                 <div class="form-group">
                   <label>SingleBlog Left Image</label>
                   <input asp-for="ApplyInfoLeftPhoto" class="form-control">
                 </div>                    
                 <div class="form-group">
                   <label>SingleBlog Right Image</label>
                   <input asp-for="ApplyInfoRightPhoto" class="form-control">
                 </div>               
                 <button type="submit" class="btn btn-outline-success me-2">Create</button>
                 <button asp-action="Index" class="btn btn-outline-danger">Cancel</button>
             </form>
    </div>
</div>