<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/admin/images/favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="~/admin/images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/admin/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown me-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
                            <i class="mdi mdi-message-text mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/admin/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/admin/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="~/admin/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                            <img src="~/admin/images/faces/face5.jpg" alt="profile" />
                            <span class="nav-profile-name">Louis Barnett</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">
                            <i class="mdi mdi-home-account menu-icon"></i>
                            <span class="menu-title">Home</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="home">
                            <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" asp-controller="HeaderUp" asp-action="TextIndex">Text</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="HeaderUp" asp-action="SocialMediaIndex">SocialMedia</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="Hero" asp-action="Index">Hero</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="Banner" asp-action="Index"> Banner</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="ElementorWidget" asp-action="Index">Elementor</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="Testimonial" asp-action="Index">Testimonial</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="ShortInfo" asp-action="Index">Short Information Store</a></li>
                            </ul>
                        </div>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#about" aria-expanded="false" aria-controls="about">
                            <i  class="mdi mdi-information menu-icon"></i>
                            <span class="menu-title">Blog</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="about">
                            <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" asp-controller="Author" asp-action="Index">Author</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="SingleBlog" asp-action="Index">Single Blog</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#faq" aria-expanded="false" aria-controls="about">
                            <i  class="mdi mdi-frequently-asked-questions"></i>
                            <span class="menu-title">FAQ Page</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="faq">
                            <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" asp-controller="FaqPage" asp-action="Index">FAQ Page</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#faq" aria-expanded="false" aria-controls="about">
                            <i  class="mdi mdi-file-document-alert"></i>
                            <span class="menu-title">Error Page</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="faq">
                            <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" asp-controller="ErrorPage" asp-action="Index">Error Page</a></li>
                            </ul>
                        </div>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">
                            <i class="mdi mdi-phone  menu-icon"></i>
                            <span class="menu-title">Contact</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="contact">
                            <ul class="nav flex-column sub-menu">
                           <li class="nav-item"> <a class="nav-link" asp-controller="ContactDetails" asp-action="Index">Contact Details </a></li>
                           <li class="nav-item"> <a class="nav-link" asp-controller="Contact" asp-action="Index">Magazine Page </a></li>
                            </ul>
                        </div>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#headerfooter" aria-expanded="false" aria-controls="headerfooter">
                            <i class="mdi mdi-creative-commons menu-icon"></i>
                            <span class="menu-title">Login Register</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="headerfooter">
                            <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" asp-controller="LoginPage" asp-action="Index">Login Page</a></li>                    
                             <li class="nav-item"> <a class="nav-link" asp-controller="RegisterPage" asp-action="Index">Register Page</a></li>                    
                         </ul>
                        </div>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#singleproduct" aria-expanded="false" aria-controls="singleproduct">
                            <i class="mdi mdi mdi-hanger menu-icon"></i>
                            <span class="menu-title">Single Product</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="singleproduct">
                            <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" asp-controller="SingleProduct" asp-action="Index">SingleProduct</a></li>
                             </ul>
                        </div>
                       </li>           
                       <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#shop" aria-expanded="false" aria-controls="shop">
                            <i class="mdi mdi mdi-store menu-icon"></i>
                            <span class="menu-title">Shop</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="shop">
                            <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" asp-controller="HomeCategory" asp-action="Index">Category</a></li>
                             <li class="nav-item"> <a class="nav-link" asp-controller="ShopPage" asp-action="Index">Colour</a></li>
                             </ul>
                        </div>
                       </li>
                </ul>
            </nav>
            @RenderBody()
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/admin/js/dashboard.js"></script>
    <script src="~/admin/js/data-table.js"></script>
    <script src="~/admin/js/jquery.dataTables.js"></script>
    <script src="~/admin/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->

    <script src="~/admin/js/jquery.cookie.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
