@model List<ProductBasketVM>

<div class="contact-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <h1>Cart</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cart</a></li>
                <li class="breadcrumb-item active" aria-current="page">All</li>
            </ol>
        </nav>
    </div>
</div>
<main class="main-content">
    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product_remove">Remove</th>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="product-price">Quantity</th>
                                        <th class="product-subtotal">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var basket in Model)
                                    {
                                        <tr>
                                            <td class="product_remove">
                                                <a onclick="productRemove(@basket.Id)">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="#">
                                                    <img class="cartImage" src="~/images/@basket.Image"
                                                     alt="Cart Thumbnail" />
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">@basket.Name</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">@basket.Count</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$@basket.Price</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart total</h2>
                                    <ul>
                                        <li>Total<span>$@ViewBag.TotalPrice</span></li>
                                    </ul>

                                    <a asp-controller="Shop" asp-action="Checkout" class="btn btn-primary">Proceed to Checkout</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
    {
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script>
        function productRemove(_id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this product!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: `@Url.Action("Remove")`,
                            type: 'POST',
                            data: { id: _id },
                            success: function(response) {
                                swal("Your product deleted successfully!", {
                                    icon: "success",
                                });

                                window.location.reload();
                            },
                            error: function(response) {
                                alert('Something goes wrong');
                            }
                        });

                    } else {
                        swal("Your product is safe , Don't worry !");
                    }
                });
        }

    </script>

}
