@model HomeVM 
<main>
    <section id="Header-Hero">
      <div class="hero">
        <div class="container">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-5">
              <div class="header-hero-description">
                <div class="header-hero-description-item mb-4">
                  <h1>@Model?.Hero.Title</h1>
                  <p>@Model?.Hero.Description</p>
                </div>
                <a href="#" class="btn-header-shop">Shop Now</a>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="header-hero-slider-img">
                <img src="~/images/@Model?.Hero.HeroImage" class="header-hero-slider-img-item mt-4" width="900px" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Main-Banner-Page">
      <div class="baner">
        <img src="~/images/@Model?.Banner.BannerImage" class="banerImg" alt="">
        <div class="banerContent d-flex justify-content-center align-items-center flex-column">
          <h1 class="banerContentItem">@Model.Banner.Title</h1>
          <a href="#" class="banerBtn">Shop Now</a>
        </div>
      </div>
    </section>

    <section id="elementor-widget-part">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="elementer-widget-content">
              <div class="elementor-widget">
                <div class="elementor-widget-left">
                  <div class="elementor-widget-left-Content">
                    <img src="~/images/@Model?.Elementor.ElementorUpImage" width="640" alt="">
                  </div>
                </div>
              </div>
              <div class="elementor-widget-right d-flex justify-content-end">
                <img src="~/images/@Model?.Elementor.ElementorDownImage" width="580" height="720" alt="">
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center align-items-center mt-5 pt-5">
            <div class="row">
              <div class="element-widget-title text-center">
                <p class="elementor-widget-header text-center">Renovate your interior with moduler design</p>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
                <div class="home-products-elementor ">
                  <div class="home-product">
                    <div class="home-product-content">
                      <div class="home-product-item">
                        <div class="home-product-img">
                          <span class="home-product-discount">0%</span>
                          <div class="home-product-icon">
                            <div class="home-product-icon-item">
                              <a href="#"></a>
                            </div>
                            <a href="" class="home-product-icon-two"></a>
                            <a href="" class="home-product-icon-three">
                            </a>
                          </div>
                          <a href="#">
                            <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                              src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp"
                              srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp 2x">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="home-product-desc">
                      <div class="home-product-desc-item">
                        <h5 class="home-produtc-title">
                          <a href="#">Velvet Armchair</a>
                        </h5>
                        <h6 class="home-product-price">
                          <del class="home-product-oldPrice"></del>
                          <span class="home-product-newPrice">$560</span>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-auto">
                <div class="home-products-elementor ">
                  <div class="home-product">
                    <div class="home-product-content">
                      <div class="home-product-item">
                        <div class="home-product-img">
                          <span class="home-product-discount">-16%</span>
                          <div class="home-product-icon">
                            <div class="home-product-icon-item">
                              <a href="#"></a>
                            </div>
                            <a href="" class="home-product-icon-two"></a>
                            <a href="" class="home-product-icon-three">
                            </a>
                          </div>
                          <a href="#">
                            <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                              src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp"
                              srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp 2x"
                              height="auto" width="800">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="home-product-desc">
                      <div class="home-product-desc-item">
                        <h5 class="home-produtc-title">
                          <a href="#">Green Armchair</a>
                        </h5>
                        <h6 class="home-product-price">
                          <del class="home-product-oldPrice">$200</del>
                          <span class="home-product-newPrice">$450</span>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <section id="Main-Products">
      <div class="container mt-5 mb-5">
        <div class="row m-auto">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            <div class="home-products-title text-center">
              <h1>
                Deal on interior moduler
              </h1>
              <h6>
                Donec a mattis elit sed fermentum tellus mauris
              </h6>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">-16%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/slider-image-01.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Green Armchair</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice">$200</del>
                    <span class="home-product-newPrice">$450</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">-14%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Bamboo-Lamp.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Bamboo-Lamp.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Bamboo-Lamp.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Bamboo Lamp</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice">$86</del>
                    <span class="home-product-newPrice">$74</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">0%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Slider-image-02.webp 2x">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Velvet Armchair</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice"></del>
                    <span class="home-product-newPrice">$560</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">-11%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Metal-Pendant-Light.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Metal-Pendant-Light.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Metal-Pendant-Light.webp 2x">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Metal Pendant Light</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice">$270</del>
                    <span class="home-product-newPrice">$240</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">-9%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Linen-Lamp-Shade.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Linen-Lamp-Shade.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Linen-Lamp-Shade.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Linen Shamp Shade</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice">$175</del>
                    <span class="home-product-newPrice">$160</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">0%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Grey-Concrete-Pot.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Grey-Concrete-Pot.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Grey-Concrete-Pot.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Grey Concrete Pot </a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice"></del>
                    <span class="home-product-newPrice">$116</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">-15%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Table-Lamp-Jute.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Table-Lamp-Jute.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Table-Lamp-Jute.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Table Lamp Jute</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice">$79</del>
                    <span class="home-product-newPrice">$67</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="home-product">
              <div class="home-product-content">
                <div class="home-product-item">
                  <div class="home-product-img">
                    <span class="home-product-discount">0%</span>
                    <div class="home-product-icon">
                      <div class="home-product-icon-item">
                        <a href="#"></a>
                      </div>
                      <a href="" class="home-product-icon-two"></a>
                      <a href="" class="home-product-icon-three">
                      </a>
                    </div>
                    <a href="#">
                      <img decoding="async" loading="lazy" alt="custom-image" class="primary-img"
                        src="~/https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Leaf-Print-Cushion.webp"
                        srcset="https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Leaf-Print-Cushion.webp 1x, https://emart.wpthemedemos.com/interior/wp-content/uploads/sites/9/2022/12/Leaf-Print-Cushion.webp 2x"
                        height="auto" width="800">
                    </a>
                  </div>
                </div>
              </div>
              <div class="home-product-desc">
                <div class="home-product-desc-item">
                  <h5 class="home-produtc-title">
                    <a href="#">Leaf Print Cushion</a>
                  </h5>
                  <h6 class="home-product-price">
                    <del class="home-product-oldPrice"></del>
                    <span class="home-product-newPrice">$80</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5 mt-5">
            <div class="text-center">
              <a href="shop.html" class="home-products-btn text-center">More Collection</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Main-Ending-Up-Elementor" class="up-elementor">
      <div class="container-fluid element-widgetContent ">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xsm-12  mb-5">
            <h3 class="upElementorTitle mt-5 text-center">Interior architectural styles</h3>
            <p class="upElementor text-center">Donec a mattis elit sed fermentum tellus mauris sed fermentum</p>
          </div>
        </div>
        <div class="row gy-2 ms-4 me-4">
            @foreach (var item in Model.Testimonials)
            {
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12  col-12">
            <div class="elementorContent">
                <img src="~/images/@item?.Image" class="elementorContent-Item" alt="">
              <div class="up-elementorContent-text text-center ">
                <h3 class="upelementorContentheader">@item?.Title</h3>
                <a href="" class="up-elementor-btn-home mt-2">Shop Now</a>
              </div>
              <span class="caption"></span>
            </div>
          </div>
            }
        </div>
      </div>
    </section>

    <section id="Main-Ending-Below-Elementor" class="below-elementor">
      <div class="container-fluid">
        <div class="row gy-4 mt-3 ms-5">
            @foreach (var shortInfo in @Model.ShortInformations)
            {            
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="below-elementorItem d-flex">
              <img src="~/images/@shortInfo.Icon" class="below-elementorItem-signature" alt="">
              <div class="elementorItem-text ms-5 d-flex flex-column flex-nowrap justify-content-center ">
                <h6>@shortInfo.Title</h6>
                <p>@shortInfo.Information</p>
              </div>
            </div>
                  </div>
            }
@*          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xsm-12">
            <div class="below-elementorItem d-flex">
              <img src="~/images/dollar.svg" class="below-elementorItem-signature" alt="">
              <div class="elementorItem-text ms-5 d-flex flex-column flex-nowrap justify-content-center">
                <h6>Quick Payment</h6>
                <p>Online Quick Payment easily</p>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xsm-12">
            <div class="below-elementorItem d-flex">
              <img src="~/images/basket.svg" class="below-elementorItem-signature" alt="">
              <div class="elementorItem-text ms-5 d-flex flex-column flex-nowrap justify-content-center">
                <h6>Easy Return</h6>
                <p>Easy return within 24 hours</p>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xsm-12">
            <div class="below-elementorItem d-flex">
              <img src="~/images/headphone.svg" class="below-elementorItem-signature" alt="">
              <div class="elementorItem-text ms-5 d-flex flex-column flex-nowrap justify-content-center">
                <h6>24/7 Support</h6>
                <p>Customer Online Support</p>
              </div>
            </div>
          </div>*@

        </div>
      </div>
    </section>

  </main>

